:host {
  display: flex;
  justify-content: center;
  margin: 0;

  --board-size-9: 9;
  --board-size-13: 13;
  --board-size-19: 19;
  --board-lines-9: 8;
  --board-lines-13: 12;
  --board-lines-19: 18;
  --cell-size: 42px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--cell-size);
  background-color: #f0d9b5;
  position: relative;
}

.grid-line-container {
  display: grid;
  background-color: #000;
  gap: 1px;
  border: 1px solid #000;
}

.grid-line-container-9 {
  @extend .grid-line-container;
  grid: repeat(var(--board-lines-9), var(--cell-size)) / repeat(
      var(--board-lines-9),
      var(--cell-size)
    );
}

.grid-line-container-13 {
  @extend .grid-line-container;
  grid: repeat(var(--board-lines-13), var(--cell-size)) / repeat(
      var(--board-lines-13),
      var(--cell-size)
    );
}

.grid-line-container-19 {
  @extend .grid-line-container;
  grid: repeat(var(--board-lines-19), var(--cell-size)) / repeat(
      var(--board-lines-19),
      var(--cell-size)
    );
}

.grid-line-item {
  display: flex;
  background-color: #f0d9b5;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  background-color: transparent;
  gap: 1px;
  position: absolute;
  top: calc(var(--cell-size) / 2);
}

.grid-container-9 {
  @extend .grid-container;
  grid: repeat(var(--board-size-9), var(--cell-size)) / repeat(
      var(--board-size-9),
      var(--cell-size)
    );
}

.grid-container-13 {
  @extend .grid-container;
  grid: repeat(var(--board-size-13), var(--cell-size)) / repeat(
      var(--board-size-13),
      var(--cell-size)
    );
}

.grid-container-19 {
  @extend .grid-container;
  grid: repeat(var(--board-size-19), var(--cell-size)) / repeat(
      var(--board-size-19),
      var(--cell-size)
    );
}

.grid-item {
  display: flex;
  background-color: transparent;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.star {
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}

.stone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
}

.white {
  @extend .stone;
  color: #000;
  background-color: #fff;
}

.black {
  @extend .stone;
  color: #fff;
  background-color: #000;
}

.prisoner-count {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 4px 0 12px;
}

.prisoners {
  width: 50px;
  font-size: 18px;
}
